<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KThemeSampleOne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KThemeSampleThemeThree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KThemeSampleThemeTwo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9324F6D11D06DDB30055D94D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9364CFFE1D06D78F00FDF9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9364D01B1D06D84F00FDF9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937F164D1D06BE30007B5DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937F16611D06BE30007B5DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937F166C1D06BE30007B5DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
